@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
/*color variable*/
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --black: #101010;
    --dark-white: #E5E5E5;
    --cloud: #a7adb3;

  }

/*overall*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
html {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
p {
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
/*my info body*/
.flex-container {
    display: flex;
    justify-content: center;
    background-color: var(--white);
  }
  .flex-container > div {
    background-color: var(--white);
    width: 100px;
    margin: 10px;
    text-align: start;
    line-height: 20px;
    margin-top: 10px;
  }
  .rect {
    height: 350px;
    width: 30px;
    background-color: var(--dark-white);
    margin: auto;
    margin-top: 15px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
  }
  .bod {
      padding: 10px;
  }
  .div-1 {
    width: 224px;
    height: 64px;
    margin-bottom: 10px;
  }
  q{
      color: var(--blue);
      font-size: 18px;
      line-height: 0.7;
  }
  .hello {
      color: var(--cloud);
      margin-bottom: 10px;
  }
  .know {
    text-align: center;
    max-width: 60%;
    border-radius: 2px;
    box-shadow: 0 0 8px 0 rgba(27, 26, 26, 0.25);
    margin-top: 30px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .space{
      letter-spacing: 2px;
  }
  h4 {
      margin-bottom: 10px;
  }
  .btn-k{
      background-color: var(--cloud);
  }
  .btn-k a{
      color: var(--black);
  }
.oval{
    position: relative;
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  border-radius: 50%;
}
.ovall{
    display: none;
}
.oval img{
    width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 10px;
}


/*footer*/
    footer{
        --blue: #D3E1F6;
        flex: 1;
        background-color: var(--blue);
        height: 90px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        bottom: 0;
        padding-right: 20px;
        position: fixed;
        margin-top: 10vh;
        border-top-left-radius: 50px;
    }
    footer ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 15px;
    }
    footer ul li {
        list-style: none;
        font-size: 15px ;
        font-weight: bold;
    }

    h3 {
        font-family: 'Clicker Script', cursive;
    }
    .box-foot {
        width: 200px;
        border-left: 2px var(--black) solid;
        border-right: 2px var(--black) solid;
        text-align: center;
    }
    .fot {
        margin-top: 5px;
    }
    .fot a {
        color: var(--black);
    }
    .ico {
        color: var(--blue);
    }

/*responsive*/
@media only screen and (max-width: 768px) {

   
    .line {
        display: none;
    }
    .home-pic{
        display: none;
    }
    .div-1 {
        width: 100%;
        text-align: center;
    }
    .bod {
        text-align: center;
    }
    .know {
        max-width: 100%;
    }
    .home-pa{
        text-align: start;
    }
    .oval{
        margin-left: 130px;
    }
}
