@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

:root {
    --blue: #1e90ff;
    --white: #fff;
    --black: #101010;
    --dark-white: #E5E5E5;
    --cloud: #a7adb3;

  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
html {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
p {
    font-size: 16px;
}

ul {
    list-style-type: none;
}

.whit{
    --black: #1f1d1d;
    color: var(--black);
    font-weight: bold;
}
/*img {
    width: 27%;
    padding: 43px;
}*/






.wrapper {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 0.5em;
    grid-auto-rows: minmax(50px, auto);
    padding: 1em;
}
.wrapper > div {
padding: 1em;
}
.wrapper > div:nth-child(even) {
   border-left: 4px var(--black) solid;
   border-right: 4px var(--black) solid;
    }
.nested {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 0.5em;
}
.nested > li {
    box-shadow: 0 0 8px 0 rgba(27, 26, 26, 0.25);
    text-align: center;
}
.skil-img {
    width: 76px;
    height: 50px;
}
.sklil p {
    font-weight: bold;
}









.oval{
    position: relative;
  width: 15vw;
  height: 15vw;
  overflow: hidden;
}
.oval img{
    width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.box-center{
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
}
.heed{
    box-shadow: 0 0 8px 0 rgba(27, 26, 26, 0.25);
    width: 85%;
    height: 300px;
    justify-content: center;
    margin-top: 20px;
}
  .column {
    float: left;
    width: 50%;
    padding: 5px;
    height: 270px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  div.head-prof{
    width:100%;
    height:auto;
    position:relative;
    display: flex;
    top:0;
     }
    div.head-content{
    width:100%;
    height:100%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
        }
    .head-content p{
        margin-left: 45px;
    }
    .about{
        margin-top: 55px;
    }

    .prof-left{
        width:100%;
        height:auto;
        padding: 21px;
        border-left: 3px var(--black) solid;
        margin-top: 40px;
    }
    .prof-left ul li h3{
        font-family: 'Roboto', sans-serif;
    }

    .heed-1{
        --blue: #B8F0F0;
        border: 2px var(--blue) solid;
        width: 90%;
        justify-content: center;
        margin-top: 20px;
    }
    .cent{
        display: flex;
        justify-content: center;
        padding: 20px;
        text-align: center;
    }
    .column1 {
        float: left;
        width: 50%;
        padding: 5px;
        height: auto;
        padding: 10px;
      }
      .exp{
          width: 100%;
          display: flex;
          box-shadow: 0 0 8px 0 rgba(8, 8, 8, 0.25);
          justify-content: center;
          padding: 10px;
      }
      .exp1{
        width: 100%;
        display: flex;
        justify-content: center;
        border-right: 5px var(--black) solid;
    }
    .exp2{
        width: 100%;
        display: flex;
        justify-content: center;
    }
      .experience{
          margin-top: 30px;
          margin-left: 80px;
      }
      .col {
        float: left;
        width: 30%;
        padding: 5px;
      }

/*responsive*/
@media only screen and (max-width: 768px) {

.column {
    width: 100%;
    height: auto;
    text-align: center;
    float: none;
  }
  .cent {
      display: block;
  }
  .column1 {
    width: 100%;
  }
  .col{
      float: none;
      width: 100%;
  }
  .exp1{

    border-right: none;
    border-bottom: 2px black solid;
  }
  .skil{
      margin-bottom: 20px;
  }.prof-left {
    border-left: none;
    padding: 0px;
    margin-top: 0px;
  }
  div.head-prof {
    text-align: -webkit-center;
}
div.head-prof {
    display: block;
}
.about {
    margin-top: 0px;
}
.oval {
    width: 43vw;
    height: 43vw;
}
.cont1{
    border-bottom: 3px var(--black) solid;
}
.heed {
    height: auto;
}
}